

<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<title>तुम्हाला नवीन वर्षाच्या शुभेच्छा देतो.</title>
<meta name="google" value="notranslate">
<meta property="og:type" content="आपल्या स्वत: च्या अद्भुत नवीन वर्षाच्या शुभेच्छा करा">
<meta property="og:title" content="आपल्या स्वत: च्या अद्भुत नवीन वर्षाच्या शुभेच्छा करा">
<meta property="og:url" content="https://xmasmr.me">
<meta property=" og:description" content="इथे क्लिक करा">
<meta property="og:site_name" content="आपल्या स्वत: च्या अद्भुत नवीन वर्षाच्या शुभेच्छा करा">
<meta property="og:image" content="https://xmasmr.me/files/2018.jpg">
<link type="text/css" rel="stylesheet" href="./files/animate.min.css">
<link rel="stylesheet" type="text/css" href="./files/new3.css">
<link rel="stylesheet" type="text/css" href="./files/style3.css">
</head>
<body style="background-image: url(40007-happiestbday.jpg)">
<marquee class="m1" behavior="scroll" direction="up" scrolldelay="5"> <br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
</marquee>
<marquee class="m2" behavior="scroll" direction="up" scrolldelay="5"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
<img src="./files/125.png" height="129px" width="35px"><br>
</marquee>
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3018408395489794" data-ad-slot="8154469844" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
<div class="container">
<div class="main-greeting">
<div align="center html2canvas-ignore">
<div style="font-size: 17px; font-weight: 800; color: yellow; text-shadow:2px 2px black, -2px -2px black;">
<p id="demo" style="color:white;"></p>
<div class="main_body">
<figure>
<h1 class="naming">[तुझे नाव]</h1>
<h1 class="naming">[तुझे नाव]</h1>
<h1 class="naming">[तुझे नाव]</h1>
<h1 class="naming">[तुझे नाव]</h1>
<h1 class="naming">[तुझे नाव]</h1>
</figure>
<div class="vi" style="text-align: center;">
<img src="./files/Snow_falling1.gif" class="swing1" alt="diwali" style="width: 100%; height:100px;">
<h3>तुम्हाला नवीन</h3>
<h2>नवीन वर्षाच्या शुभेच्छा</h2> <p id="demo"></p>
<img class="center swing" src="./files/23.png" width="50px" height="80px" alt="Happy New Year greating wishes">
<img class="center swing1" src="./files/03.png" width="50px" height="80px" alt="Happy New Year greating wishes">
<img class="center swing2" src="./files/13.png" width="50px" height="80px" alt="Happy New Year greating wishes">
<img class="center swing3" src="./files/83.png" width="50px" height="80px" alt="Happy New Year greating wishes">
<br>
<br>
<h2> <img src="./files/merry_christmas_20183.png" class="img-responsive" alt="NEW YEAR" style="width: 250px; height:150px;">
</h2>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 01, 2019 00:00:00").getTime();

// Update the count down every 01 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "<i> दिवस,</i> " + hours + " <i>तास,</i> "
  + minutes + "<i> मिनिटे,</i> " + seconds + "<i> सेकंद</i> ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "🎈 2019 🎈";
  }
}, 1000);
</script>
</div>
</div>
<p aling="center" style="font-size: 15px;color:white;"><b></b></p><b>सरत्या वर्षाला निरोप देत नवी स्वप्न,<br>
नव्या आशा, नवी उमेद व नाविन्याची कास धरत नवीन वर्षाच स्वागत करू.<br>
आपली सर्व स्वप्न, आशा,<br>
आकांशा पूर्ण होवोत या प्रार्थनेसह नवीन वर्षाच्या हार्दिक शुभेच्छा!<br>
<br><p></p></b><p></p> <img src="./files/15.png" height="40px" width="40px">
<div class="busi">[तुझे नाव]<br><img src="./files/4.png" height="35px" width="35px"><p></p>
<center>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3018408395489794" data-ad-slot="8154469844" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
</div>
</div>
</div>
<form method="post" action="/ready.php">
<div class="enter-name">
<input class="animated pulse infinite" type="name" required="" maxlength="50" name="n" placeholder="👉 येथे आपले नाव प्रविष्ट करा ...">
<button class="btn animated shake infinite" type="submit">👉 पुढे जाणे</button>
</div>
</form>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130110912-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130110912-8');
</script>
</body></html>